pokemon

<router-outlet></router-outlet>

<ul>
  @for (pokemon of pokemonSpecies(); track pokemon.name) {
    <li>
      <a>
        {{ pokemon.name }}
      </a>
    </li>
  }
</ul>

<table mat-table [dataSource]="pokemonSpecies()" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Url </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
